body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    background-color: #f0f3fd;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1 {
    width: 80%;
    margin: 30px auto 0;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -2px;
  }

  h3 {
    width: 60%;
    margin: 30px auto;
    line-height: 2;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
  
  main {
      width: 80%;
      padding: 0.15rem;
      margin: 60px auto;
      display: flex;
      border-radius: 1rem;
      overflow: hidden;
      text-align: center;
      box-shadow: inset 0 -10px 20px #f0f3fd, 
                        10px 10px 20px rgba(0, 0, 0, 0.24),
                        10px 10px 20px rgba(0, 0, 0, 0.12);
      text-rendering: optimizeLegibility;
  }

  .slideshow-container {
    width: 50%;
    margin-right: 0.4em;
  }

  .mySlide {
    width: 100%;
    height: 620px;
    display: none;
  }

  .mySlide img {
    width: 100%;
    min-height: 620px;
    max-height: 620px;
    object-fit: cover;
  }

  .fade {
      animation-name: fade;
      animation-duration: 1.5s;
  }

  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 45%;
    padding: 2% 4%;
    
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  form {
    line-height: 1.8;
    font-style: normal;
    text-align: start;
    font-weight: 500;
  }
  
  #mc_embed_signup > form >.btn {
    width: 200px;
    margin: 20px 0;
    padding: 0.8rem;
    border: 0.2em solid #ec7e81;
    background-color: #ec7e81;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.8em;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.7rem;
  }
  
  #mc_embed_signup > form >.btn:hover {
    border: 0.2em solid #000000;
    background-color: #000000;
    box-shadow: none;
    color: #ffffff;
    opacity: 1;
  }
  
  @media only screen and (max-width: 1200px){

    body {
        padding: 50px 0;
    }

    body h1 {
      width: 70%;
      margin: auto;
      font-size: 2.2rem;
      font-weight: 500;
      letter-spacing: -2.5px;
      line-height: 1;
    }

    body h3 {
      width: 70%;
      margin: 30px auto;
      font-size: 0.8rem;
      letter-spacing: -0.5px;
      line-height: 1.8;
    }

    main {
        width: 85%; 
        background-image: none;
        background-repeat: no-repeat;
        background-color: #ffffff;
    }

    .slideshow-container {
        display: none;
    }

    #mc_embed_signup {
      margin: auto;
      width: 100%;
      padding: 2% 3%;
    }

    h2 {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: -0.5px;
      line-height: 1.8;
    }

    form {
        line-height: 1.7;
        font-size: 0.7rem;
        font-weight: 500;
      }

      #mc_embed_signup > form >.btn {
        width: 50%;
        margin: 30px auto;
        padding: 0.9rem;
        justify-self: center;
        font-weight: 600;
        line-height: 1.8;
        font-size: 0.8rem;
      }

  }

 