body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* header-section */

article {
    width: 100%;
    padding: 20px 0;
    background-color: #f0f3fd;
}

article h1{
    width: 20rem;
    margin: auto;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 500;
}

article h6 {
    width: 65%;
    margin: 50px auto;
    padding: 1.5%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.Apply-button {
    width: 200px;
    padding: 1%;
    margin: 20px auto;
}

.Apply-button button {
    width: 90%;
    padding: 6% 2%;
    border: 0.2em solid #ec7e81;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #d4e0fc;
    border-radius: 0.8em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    font-size: 14px;
    background-color: #ec7e81;
    color: #ffffff;
    cursor: pointer;
}

.Apply-button button:hover {
    border: 0.2em solid #000000;
    background-color: #000000;
    box-shadow: none;
    color: #ffffff;
    opacity: 1;
}

.image1-section {
    margin: 30px;
    padding: 1.5%;
}

.image1 {
    width: 60%;
    object-fit: cover;
    border-radius: 1em;
}

/* Offer-section */

#Offer-section {
    width: 100%;
    font-style: normal;
}

.offer1 {
    width: 100%;
    background-color: #ffffff;
}

.offer1-header {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
}

.offer1-header h2 {
    font-size: 2.1rem;
    font-weight: 500;
}

.row1, .row2, .row3, .row4 {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    text-align: start;
    background-color: #f0f3fd;
}

.row1-col1, .row1-col2 {
    margin-top: 50px;
}

.row4-col1, .row4-col2 {
    margin-bottom: 50px;
}

.row1-col1, .row2-col1, .row3-col1, .row4-col1 {
    margin-right: 5%;
}

.row1-col1, .row1-col2, .row2-col1, .row2-col2, .row3-col1, .row3-col2, .row4-col1, .row4-col2{
    width: 30%;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px #d4e0fc;
    border-radius: 1rem;
    padding: 1.5%;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 2%;
}

.subtext {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 2%;
    color: #6b81a3;
}

/* Apply-section */

#Apply-section {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0;
}

.apply-section-header {
    width: 50%;
    margin: auto;
    padding: 0.5%;
}

.apply-section-header h1 {
    font-size: 3rem;
    font-weight: 500;
}

.apply-section-footer {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.footer-img-container {
    width: 50%;
    margin-right: 5%;
    padding: 1.2%;
}

.footer-img {
    width: 90%;
    object-fit: contain;
}

.text-container {
    width: 45%;
    line-height: 2;
}

.text-container h1 {
    text-align: start;
    font-size: 1.1rem;
    font-weight: 300;
}

.points {
    margin-top: 40px;
}

.check-line {
    display: flex;
    justify-content: space-between;
}

.check-item {
    width: 2.5%;
    height: 14px;
    background-color: #000000;
    box-shadow: 3px 3px #b5bfd3;
    border-radius: 0.2em;
}

.check-line h1 {
    position: relative;
    bottom: 30px;
    width: 90%;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.2;
}

.second-Apply {
    margin: 0;
}

.partner-team {
    padding: 10px 0;
}

.partner-heading {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
}

.partner-heading h1 {
    padding: 10px;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0;
}

.partner-heading h3 {
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

.team {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.team-row {
    width: 30%;
    display: flex;
    justify-content: center;
}

.team-row .check-item {
    width: 12px;
    height: 12px;
    margin-right: 10%;
    border-radius: 1.2em;
}

.team-row h6 {
    position: relative;
    bottom: 45px;
    font-size: 1rem;
    font-weight: 400;
}

.album-row {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.image-grid {
    width: 25%;
}

.grid-img {
    width: 90%;
    margin: auto;
}

.grid-img img, .image-grid img{
    width: 100%;
    object-fit: contain;
    border-radius: 0.5em;
}

/* FAQ-section */

#FAQs-section {
    width: 100%;
    padding: 50px 0;

}

.FAQs-header {
    width: 80%;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 500;
}

.FAQs-container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.FAQ h1 {
    text-align: start;
    color: #161219;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s; 
    font-size: 1.2rem;
    font-weight: 500;
}

.FAQ p {
    text-align: start;
    padding: 30px 0;
    display: none;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
}

.FAQ h1:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2212';
}

.FAQs-footer {
    padding: 50px;
}

.FAQs-footer a {
    text-decoration: none;
}

.FAQs-footer h1 {
    width: 90%;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
}

.ready {
    color: #808080;
}

.arrow {
    color: #0000ff;
}


@media only screen and (min-width: 500px) {
    article h1 {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {

    article h1{
        width: 15rem;
        margin: auto;
        margin-top: 50px;
    }

    article h6 {
        margin: 20px auto;
        line-height: 2rem;
    }

    .Apply-button {
        margin: 0 auto;
    }

    .image1-section {
        width: 80%;
        margin: 20px auto;
    }
    
    .image1 {
        width: 100%;
        object-fit: cover;
        border-radius: 1em;
    }

    .row1, .row2, .row3, .row4{
        width: 100%;
        display: block;
        text-align: start;
        padding: 30px 0;
        margin-bottom: 50px;
    }

    .row1-col1, .row1-col2, .row2-col1, .row2-col2, .row3-col1, .row3-col2, .row4-col1, .row4-col2{
        width: 80%;
        margin: 30px auto;
        background-color: #ffffff;
        border-radius: 2rem;
        padding: 3%;
    }

    .apply-section-header {
        width: 70%;
        margin: auto;
        padding: 0.5%;
    }

    .apply-section-header h1 {
        font-size: 2em;
    }
    
    
    .apply-section-footer {
        width: 90%;
        margin: 50px auto;
        display: block;
    }
    
    .footer-img-container {
        width: 100%;
        margin: auto;
    }

    .footer-img-container img {
        border-radius: 1rem;
    }

    .text-container {
        width: 100%;
        margin-top: 50px;
    }

    .Apply-free {
        width: 80%;
        margin: auto;
    }

    .team {
        display: block;
    }

    .team-row {
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: start;
        }

    .album-row {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .image-grid {
        width: 100%;
        margin: auto;
    }
    
    .grid-img {
        width: 80%;
        margin: auto;
    }
    
    .grid-img img {
        width: 100%;
        object-fit: contain;
        border-radius: 0.5em;
    }

    
}