body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* header-section */

article {
    width: 100%;
    padding: 50px 0 30px;
    background-color: #ffffff;
    line-height: 1.25;
}

article h1{
    width: 20rem;
    margin: auto;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -2px;
}

article h6 {
    width: 60%;
    margin: 50px auto;
    line-height: 1.7;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.Apply-button {
    width: 200px;
    padding: 1%;
    margin: 50px auto;
}

.Apply-button button {
    width: 90%;
    padding: 6% 2%;
    border: 0.2em solid #ec7e81;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #d4e0fc;
    border-radius: 0.8em;
    font-weight: 600;
    line-height: 1.6;
    font-size: 14px;
    background-color: #ec7e81;
    color: #ffffff;
    cursor: pointer;
}

.Apply-button button:hover {
    border: 0.2em solid #000000;
    background-color: #000000;
    box-shadow: none;
    color: #ffffff;
    opacity: 1;
}

.image1-section {
    margin: 50px;
}

.image1 {
    width: 60%;
    object-fit: cover;
    border-radius: 1em;
}

/* Offer-section */

#Offer-section {
    width: 100%;
    padding: 50px 0 30px;
    background-color: #f0f3fd;
}

.offer1 {
    width: 100%;
}

.offer1-header {
    width: 70%;
    margin: auto;
    line-height: 1.25;
    letter-spacing: -1px;
}

.offer1-header h2 {
    font-size: 2.1rem;
    font-weight: 500;
}

.row1, .row2, .row3, .row4 {
    width: 100%;
    margin: 50px 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    text-align: start;
    background-color: #f0f3fd;
}

.row1-col1, .row2-col1, .row3-col1, .row4-col1 {
    margin-right: 5%;
}

.row1-col1, .row1-col2, .row2-col1, .row2-col2, .row3-col1, .row3-col2, .row4-col1, .row4-col2{
    width: 30%;
    background-color: #ffffff;
    box-shadow: 5px 5px 2px #d4e0fc;
    border-radius: 1rem;
    padding: 1.5%;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.5px;
    padding: 0 2%;
}

.subtext {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: -0.2px;
    padding: 0 2%;
    color: #6b81a3;
}

/* Apply-section */

#Apply-section {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0;
}

.apply-section-header {
    width: 50%;
    margin: 50px auto;
    padding-bottom: 5px;
}

.apply-section-header h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1px;
}

.apply-section-footer {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.footer-img-container {
    width: 450px;
    margin-right: 5%;
    padding: 1.2%;
}

.footer-img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    box-shadow: 2px 2px 0.5px #bbb;
    border-radius: 0.4rem;
}

.text-container {
    width: 45%;
    margin-left: 5%;
    max-height: 450px;
}

.text-container h1 {
    text-align: start;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: -0.2px;
}

.points {
    margin-top: 40px;
}

.check-line {
    display: flex;
    justify-content: center;
}

.check-item {
    width: 14px;
    height: 14px;
    background-color: #000000;
    box-shadow: 2px 2px #b5bfd3;
    border-radius: 0.2em;
}

.check-line h1 {
    position: relative;
    bottom: 27px;
    width: 90%;
    margin-left: 5%;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.2;
    letter-spacing: -0.5px;
}

.second-Apply {
    margin: 0;
    padding: 0 !important;
}

.partner-team {
    padding: 10px 0;
}

.partner-heading {
    width: 100%;
    margin: 40px 0;
}

.partner-heading h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0;
    line-height: 1.25;
    letter-spacing: -1px;
}

.partner-heading h3 {
    margin: 50px 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2;
    letter-spacing: -0.5px;
}

.team {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.team-row {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    text-align: start;
}

.team-row .check-item {
    width: 14px;
    height: 14px;
    border-radius: 1.2em;
}

.team-row h6 {
    margin-left: 6%;
    position: relative;
    bottom: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.2;
    letter-spacing: -0.5px;
}

.album-row {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.image-grid {
    width: 40%;
}

.image {
    width: 46%;
}

.grid-img {
    width: 95%;
    margin: auto;
}

.image-collage {
    width: 88%;
    display: flex;
    justify-content: space-between;
}

.image-collage .image-grid {
    width: 55%;
}

.image-collage .image-gridd {
    width: 50%;
}

.grid-img img, .image-grid img{
    width: 100%;
    object-fit: contain;
    border-radius: 0.2em;
    box-shadow: 1px 1px 0.5px #bbb;
}

/* FAQ-section */

#FAQs-section {
    width: 100%;
    padding: 50px 0;

}

.FAQs-header {
    width: 80%;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 500;
}

.FAQs-container {
    width: 62%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.FAQ {
    line-height: 1.5;
    letter-spacing: 0.3px;
    padding: 0.5rem 2rem;
    text-align: start;
}

.FAQ-header {
    width: 80%;
    display: flex;
    align-items: center;
    color: #161219;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}

.FAQ-header:after {
    margin: auto;
    content: '\002B';
    font-size: 1.3rem;
    color: #000000;
    position: absolute;
    right: 10rem;
    transition: 0.2s;
}

.FAQ h1.active:after {
    transform: rotate(45deg);
}

.FAQ-footer {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.FAQs-footer {
    padding: 20px;
}

.FAQs-footer a {
    text-decoration: none;
}

.FAQs-footer h1 {
    width: 90%;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
}

.ready {
    color: #808080;
}

.arrow {
    color: #0000ff;
}


@media only screen and (min-width: 500px) {
    article h1 {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {

    body {
        font-size: 1rem
    };

    article h1{
        width: 15rem;
        margin: auto;
        margin-top: 50px;
        letter-spacing: -3px;
    }

    article h6 {
        margin: 20px auto;
        line-height: 2rem;
    }

    .Apply-button {
        margin: 0 auto;
    }

    .image1-section {
        width: 80%;
        margin: 20px auto;
    }
    
    .image1 {
        width: 100%;
        object-fit: cover;
        border-radius: 1em;
    }

    .row1, .row2, .row3, .row4{
        width: 100%;
        display: block;
        text-align: start;
        padding: 20px 0 10px;
        margin: 0;
    }

    .row1-col1, .row1-col2, .row2-col1, .row2-col2, .row3-col1, .row3-col2, .row4-col1, .row4-col2{
        width: 80%;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 2rem;
        padding: 3%;
    }

    .row1-col2, .row2-col2, .row3-col2, .row4-col2 {
        margin-top: 25px;
    }

    .row1-col1 {
        margin-top: 10px;
    }

    .row4-col2 {
        margin-bottom: 20px;
    }

    .apply-section-header {
        width: 70%;
        margin: auto;
        padding: 0.5%;
    }

    .apply-section-header h1 {
        font-size: 2em;
    }
    
    
    .apply-section-footer {
        width: 90%;
        margin: 20px auto;
        display: block;
    }
    
    .footer-img-container {
        width: 400px;
        margin: auto;
    }

    .footer-img-container img {
        width: 100%;
    }

    .text-container {
        width: 90%;
        margin-top: 30px;
    }

    .check-item {
        width: 11px;
        height: 11px;
        background-color: #000000;
        box-shadow: 2px 2px #b5bfd3;
        border-radius: 0.2em;
    }

    .second-Apply {
        width: 200px;
        margin: 0;
    }
    .partner-team {
        margin-top: 80px;
    }

    .partner-heading {
        width: 70%;
        margin: auto;
    }

    .team {
        display: block;
        margin-bottom: 50px;
    }

    .team-row {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: start;
        text-align: start;
        }

    .FAQs-header {
        width: 100%;
        font-size: 2.0rem;
    }

    .FAQ-header:after {
        position: absolute;
        right: 5rem;
    }
    
    .FAQs-container {
        width: 80%;
        margin: 20px auto;
    }
    
    .FAQ h1 {
        font-size: 1.1rem;
        font-weight: 450;
    }
    
    .FAQ p {
        text-align: start;
        padding: 20px 0;
        font-size: 1rem;
        font-weight: 400;
    }
    
}

@media only screen and (max-width: 720px) {

     .album-row {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .image-grid {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
    }

    .image-grid .grid-img {
        width: 50%;
    }

    .image-grid .grid-img img {
        width: 95%;
        margin: auto;
        object-fit: contain;
        border-radius: 0.5em;
    }

    .image {
        width: 100%;
        margin: auto;
    }  
    
    .image .grid-img {
        width: 95%;
        margin: auto;
    }

    .image .grid-img img {
        width: 95%;
        height: 450px;
        margin: auto;
        object-fit: cover;
        border-radius: 0.5em;
    }
    
    .image-collage {
       display: none
    }
}

@media only screen and (max-width: 450px) {
    article {
        width: 100%;
        padding: 50px 0 30px;
    }
    
    article h1{
        width: 50%;
        margin: auto;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: -2.5px;
        line-height: 1;
    }
    
    article h6 {
        width: 75%;
        margin: 30px auto;
        font-size: 1rem;
        letter-spacing: -0.5px;
        line-height: 1.8;
    }

    #Offer-section {
        padding: 20px 0 20px;
    }
    
    .offer1-header {
        line-height: 1;
        letter-spacing: -2px;
    }
    
    .offer1-header h2 {
        font-size: 1.8rem;
    }
    
    .logo {
        width: 5rem;
        height: 5rem;
    }
    
    .subheading {
        font-size: 1rem;
        line-height: 1.3;
        letter-spacing: -0.8px;
    }
    
    .subtext {
        font-size: 0.8rem;
        line-height: 1.3;
        letter-spacing: -0.5px;
    }

    #Apply-section {
        padding: 20px 0;
    }
    
    .apply-section-header {
        width: 70%;
        margin: 10px auto;
    }
    
    .apply-section-header h1 {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: -2.5px;
        line-height: 1.2;
    }

    .footer-img-container {
        width: 80%;
        margin: auto;
    }

    .partner-team {
        margin-top: 150px;
    }
    
    .partner-heading {
        width: 95%;
        margin: 50px auto;
    }
    
    .partner-heading h1 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    
    .partner-heading h3 {
        margin: 20px 0;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: -1px;
    }
    
    .team-row .check-item {
        width: 10px;
        height: 10px;
        border-radius: 1em;
    }
    
    .team-row h6 {
        font-size: 1rem;
    }

    .FAQs-container {
        width: 80%;
    }
    
    .FAQ {
        padding: 0;
        text-align: start;
    }

    .FAQ-header {
        font-size: 0.8rem;
    }

    .FAQ-footer {
        font-size: 0.5rem;
    }

    .FAQ-header:after {
        position: absolute;
        right: 3rem;
    }

    .FAQs-footer h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

}